<div class="row">
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="./assets/images/car11.jpg" 
          alt="Trendy Pants and Shoes"
          class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ShopCar</h5>
          <p class="card-text">
            Car Rental in Mangalore - Now hire a car in Mangalore became easier with Revv, best car rental service provider in India.Min 21 years old, have valid original government ID and a valid driving licence for “Light Motor Vehicles”, which is min. 1 year old at the time of starting the trip.
          </p>
          <p class="card-text">
            <small class="text-muted">Owner: Sadashiv[+91 8974563211]</small>
          </p>
          <p class="card-text">
            <small class="text-muted">Locaation: Jyothi Mangalore</small>
          </p>
          <p class="card-text">
            <small class="text-muted">Daily Price: 1500/-</small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="./assets/images/car10.jpg" 
          alt="Trendy Pants and Shoes"
          class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ShopCar</h5>
          <p class="card-text">
            Car Rental in Mangalore - Now hire a car in Mangalore became easier with Revv, best car rental service provider in India.Min 21 years old, have valid original government ID and a valid driving licence for “Light Motor Vehicles”, which is min. 1 year old at the time of starting the trip.
          </p>
          <p class="card-text">
            <small class="text-muted">Owner: Jagadish[+91 9977854578]</small>
          </p>
          <p class="card-text">
            <small class="text-muted">Locaation: Udupi City</small>
          </p>
          <p class="card-text">
            <small class="text-muted">Daily Price: 2000/-</small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 1000px; ">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="./assets/images/car1.jpg" 
          alt="Trendy Pants and Shoes"
          class="img-fluid rounded-start" 
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ShopCar</h5>
          <p class="card-text">
            Car Rental in Mangalore - Now hire a car in Mangalore became easier with Revv, best car rental service provider in India.Min 21 years old, have valid original government ID and a valid driving licence for “Light Motor Vehicles”, which is min. 1 year old at the time of starting the trip.
          </p>
          <p class="card-text">
            <small class="text-muted">Owner: Joseph[+91 8578457896]</small>
          </p>
          <p class="card-text">
            <small class="text-muted">Locaation: LalBhagh Mangalore</small>
          </p>
          <p class="card-text">
            <small class="text-muted">Daily Price: 4500/-</small>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>